$fontSizeBase: 14px;

$smallestDevice: 320px;
$smallDevice: 492px;
$tabletDevice: 990px;

@mixin fontDefault() {
  font-family: 'Ubuntu', sans-serif;
}

* {
  @include fontDefault();
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  font-size: $fontSizeBase;
  width: 100%;
  background: #e9ebee;
}

body > * {
  height: auto;
  min-height: inherit;
}

.post {
  background: #ffffff;
  padding-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  .head {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    padding: 0px 10px 0px;

    .post-details {
      display: flex;
      flex-direction: column;

      .timestamp {
        font-size: 80%;
      }
    }
  }

  .content {
    margin-bottom: 10px;
    padding: 0px 10px 0px;
  }

  .comments {
    font-size: 80%;
    background: #d7d7d7;

    .comment {
      display: flex;
      padding: 5px;

      .text {
        padding-right: 10px;
      }

      .timestamp {
        margin-left: auto;
      }
    }
    
    .commentInput {
      padding: 5px;
    }
  }
}
